<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>20366880319-4kp6no8bn5ai3ospvdlb29afan11l69f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.20366880319-4kp6no8bn5ai3ospvdlb29afan11l69f</string>
	<key>API_KEY</key>
	<string>AIzaSyC7d8HUKpVNqfO_svffNJFZ79_qUtKmSrw</string>
	<key>GCM_SENDER_ID</key>
	<string>20366880319</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmail.caioslouro.foodsaver.foodSaverMobileApp</string>
	<key>PROJECT_ID</key>
	<string>foodsaver-capstoneg14</string>
	<key>STORAGE_BUCKET</key>
	<string>foodsaver-capstoneg14.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:20366880319:ios:b69f76eb618cc9af22928a</string>
</dict>
</plist>