html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Styles for register/login forms */
.form-card {
    width: 30rem;
    padding: 3rem;
}

.form-card h1 {
    width: 100%;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 6rem;
}

.form-card .form-group {
    margin-bottom: 0.75rem;
}

.form-card input {
    border-radius: 8px;
    box-shadow: #c7c7c7 0 5px 8px -5px;
}

.form-card input[type=submit] {
    padding: 0.6rem 0;
    border: none;
    box-shadow: #8a8a8a 0 5px 8px -5px;
}

.form-card label {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.form-card .text-danger {
    display: block;
    height: 0.75rem;
    font-size: 12px;
}

.form-card .form-group .d-flex {
    margin-top: 2.5rem;
}

.form-card a {
    text-decoration: none;
    color: #0a58ca;
    padding: 0.6rem 0;
    border-radius: 8px;

    transition: background-color 250ms;
}

.form-card a:hover {
    color: #0a58ca;
    background-color: rgba(0, 0, 0, 5%);
}