html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Styles for register/login forms */
.login-card {
    padding: 3rem;
}

.login-card h1 {
    width: 100%;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 6rem;
}

.login-card .form-group {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.login-card input {
    border-radius: 8px;
    box-shadow: #c7c7c7 0 5px 8px -5px;
}

.login-card input[type=submit] {
    margin-top: 1rem;
    padding: 0.6rem 2rem;
    border: none;
    box-shadow: #8a8a8a 0 5px 8px -5px;
}

.login-card label {
    margin-bottom: 0.3rem;
}

.login-card .text-danger {
    display: block;
    height: 1rem;
}